{{ partial "header.html" . }}

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
			<div class="entry-title" itemprop="headline">{{ .Title }}</div>
			<span class="entry-meta">
                {{ if .Params.tags }}
                   {{range .Params.tags}}
                      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="entry-tag">{{ . }}</a>
                   {{end}}
                {{end}}
			</span>

			<section itemprop="entry-text">
				{{ .Content }}
			</section>
		</article>
	</main>

{{ partial "footer.html" . }}